html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    background-color: black;
    font-family: verdana;
    padding: 0px;
}

div.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#hitbox,
#body_container {
    display: block;
    width: 100%;
    height: 100%;
}
