:root {
    --sbcolor: #cccccc;
    --fontsize: 14px
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    cursor: default;
}

body {
    background-color: black;
    font-family: verdana;
    padding: 0px;
}

p,
span,
label {
    font-size: var(--fontsize);
}

div.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#hitbox,
#drag_hitbox,
#body_container,
#svg_container {
    display: block;

    width: 100%;
    height: 100%;
}

#hitbox,
#body_container {
    /* modified by js */
    pointer-events: auto;
}

#svg_container,
#drag_hitbox {
    /* modified by js */
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
}

#svg_container svg {
    /* display: none is set in index.html for javascript access */

    position: fixed;
    top: 0;
    left: 0;
}

#svg_arrows,
#svg_paths {
    /* changed by javascript */
    display: none;
}
