html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

body {
    background-color: black;
    font-family: verdana;
    padding: 0px;
}

div.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#hitbox,
#body_container,
#svg_container {
    display: block;
    width: 100%;
    height: 100%;
}

#svg_container {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
}

#svg_container svg {
    position: fixed;
    top: 0;
    left: 0;
}
