#sidebar {
    display: block;
    position: absolute;

    width: 25vw;
    min-width: 200px;
    height: 100%;

    background-color: var(--sbcolor);
    z-index: 1000;

    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
    text-align: center;
    vertical-align: middle;

    padding-left: 2vw;
    padding-right: 2vw;
}

#sidebar p {
    margin: 20px 2vw;
}

#sidebar label,
#popup label {
    display: block;
    text-align: center;
}

#sidebar button,
#sidebar input {
    display: block;
    margin: 10px auto;
    text-align: center;
}

div.toggle_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 20px 0;
}

div.toggle_container label,
div.toggle_container input {
    display: inline !important;
}
