{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "strict",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
